# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
email-previews/

# Next.js
.next/
out/
build

# Production
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env
!.env.example

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

.env.local