<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Music Arranging</h4>
                    <p class="text-muted">We offer full custom arrangements or rewrites of our previous shows. Pricing dependent on your Bands of America school size classification.
                        <br> <a href="https://marching.musicforall.org/2021-registration-information/" target="blank">Click here for BOA school size info</a></p>
                    <p class="text-muted">
                        <br>
                        <h4 class="service-heading">Pricing</h4>
                            <p class="text-muted">A: $1500 <br>
                            AA: $2500 <br>
                            AAA: $3000 <br>
                            AAAA: $4000+ <br>
                            <br>
                            </p>    
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Drill Design</h4>
                    <p class="text-muted">We offer drill design services for bands under 100 students. If your band exceeds 100 students, we will connect you with a drill designer!</p>
                    <p class="text-muted">
                        <br>
                        <br>
                        <h4 class="service-heading">Pricing</h4>
                        <p class="text-muted">Starting at $1500<br>
                            Not to exceed $3000<br><br>
                        </p>
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Wind Choreography</h4>
                    <p class="text-muted">As our activity continues to advance, teaching our students choreography and dance is more important than ever! Let us help you choreograph your show this year!</p>
                    <p class="text-muted">
                        <br>
                        <h4 class="service-heading">Pricing</h4>
                            <p class="text-muted">Starting at $250 per movement<br>
                            Flexible based on level of production<br>
                            Full show not to exceed $1000<br><br>
                            </p>
                    </p>
                </div>
    
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Program Coordination</h4>
                    <p class="text-muted">With more moving pieces comes more responsibility. Let us help lighten the load by coordinating all aspects of your fall show.</p>
                        <br>
                        <br>
                        <h4 class="service-heading">Pricing</h4>
                            <p class="text-muted">
                            Starting at $500<br>
                            Includes bi-weekly design calls<br>
                            Includes service throughout the competitive season<br><br>
                            </p>
                    </p>
                </div>    
            </div>
        </div>
    </section>